div {
    border-radius: 7px;
}

#header {
    position: fixed;
    height: 200px;
    width: 98%;
    background-color: #9D7D41;
}

.pic {
    float: right;
}

#name {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #FFEEC7;
}

.info {
    margin-left: 20px;
    font-size: 13px;
    font-family: Verdana, sans-serif;
    color: #FFEEC7;
}

.main {
    margin-top: 200px;
    float: left;
    padding-left: 5px;
    width: 99%;
    background-color: #FFEEC7;
}

#footer {
    height: 40px;
    clear: both;
    background-color: #9D7D41;
}

h3 {
    text-decoration: underline;
}

.course-name {
    font-weight: bold;
}
